{% extends 'medsite/base.html' %}
{% load mytags %}

{% block content %}

    <div class="album py-5 bg-light">

            <div class="container">
                <div class="row">
                {% for object in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-6 box-shadow" >
                             <img class="card-img-top" src="{% media_path object.image %}" alt="Изображение недоступно">
                            <div class="card-body">
                            <p class="card-text">Наименование: {{ object.title }}.</p>
                            <p class="card-text">Область обследования: {{ object.area }}.</p>
                            <p class="card-text">Описание: {{ object.description }}.</p>
                            <p class="card-text">Цена: {{ object.price }}.</p>

                                   {% if user.is_authenticated %}
                                    <div class="btn-group">
                                        <p><a class="btn btn-secondary" href="{% url 'medsite:ct_order' %}" role="button">Записаться &raquo;</a></p>
                                        <p><a class="btn btn-secondary" href="{% url 'medsite:index' %}" role="button">Назад &raquo;</a></p>
                                    {% else %}
                                         <p><a class="btn btn-secondary" href="{% url 'medsite:index' %}" role="button">Назад &raquo;</a></p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}