{% extends 'medsite/base.html' %}
{% load mytags %}
{% load static %}
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img src="{%static "image/mrt.jpg" %}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"> Магнито-резонансная томография</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="{% url 'medsite:mri_list' %}" role="button">Подробнее
                                    &raquo;</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img src="{%static "image/ct.jpg" %}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"> Компьютерная томография</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                               <p><a class="btn btn-secondary" href="{% url 'medsite:ct_list' %}" role="button">Подробнее
                                        &raquo;</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img src="{%static "image/petct.jpeg" %}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"> Позитронно-эмиссионная томография</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="{% url 'medsite:petct_list' %}" role="button">Подробнее
                                    &raquo;</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img src="{%static "image/us.jpeg" %}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"> Ультразвуковое исследование</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="{% url 'medsite:us_list' %}" role="button">Подробнее
                                    &raquo;</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}