{% extends 'main/base.html' %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <form class='row' method="POST" enctype="multipart/form-data">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Восстановление пароля
                        </h3>
                        <p>Введите адрес электронной почты, связанный с вашей учетной записью. Мы отправим вам письмо со ссылкой для восстановления пароля.</p>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-warning" value="Отправить">
                    </div>
                </div>
          </div>
        </form>
    </main>
{% endblock %}